html
{
    min-width: 700px;
}
.head
{
    height: 90px;
    color: white;
    background-color: white;
}
.c{ 
    padding:10px;
}
.d-flex
{   
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;

} 

.d-flex>* 
{
    flex:30%;
}
a:hover 
{
    text-decoration: none;
    color: black;
}
.pcard
{
    font-family: 16px;
}
.card-header
{
    font-size: 17px;
    text-align: center;
}            
.card-header:hover
{
    background-color: #F2F2F2;
    color: black;
}            
/*
.d-flex>* {
flex:30%;
}
*/

.width
{       
    width:30%; 
    max-width: 100%;
    margin:20px;
    text-align:left;
}
.link
{    
    color:snow;
}
.link:hover
{
    color:orangered;
}
.pcard
{
    background-color:rgb(21,100,210,1);
}
.nav-link
{
    color: white;
}
.nav-link:hover
{
    background: #55616f;
    color: white;
} 
.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: red;
    color: black;
    text-align: center;
}