html
{
    min-width: 700px;
}
.head
{
    height: 90px;
    color: white;
}
.nav-link
{
    color: white;
}
.nav-link:hover
{
    background: #55616f;
    color: white;
} 

input{
    border: none;
    height:50%;
}

.abc{
    width:60%;
    margin-left:30%;

}